html,
body {
  height: 100%;
  margin: 0;
}

body {
  justify-content: center;
  overflow-y: auto;
}

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;
}

.background-layer {
  position: fixed;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: -1;
}

button,
a {
  touch-action: manipulation;
}

.clean-input {
  outline: none !important;
  border-radius: 0 !important;
  transform: translate(-3px, -3px);
  box-shadow: 6px 6px 0 #868686;
}

.no-radius {
  border-radius: 0 !important;
}

.hello-msg {
  display: inline-block;
  text-align: center;
  background-color: rgba(187, 254, 161, 0.9);
  box-shadow: 6px 6px 0 #2da700;
}

.card {
  width: 100%;
  background-color: rgba(254, 161, 251, 0.9);
  border-radius: 0 !important;
  box-shadow: 6px 6px 0 #a700a7e7;
}

.btn,
.btn:hover {
  background-color: cyan !important;
  color: black !important;
}

.btn {
  position: relative;
  background-color: cyan;
  color: black;
  border: none;
  box-shadow: 6px 6px 0 #0097a7;
  transform: translate(-3px, -3px);
  transition: all 0.1s ease-in-out;
}

.btn:hover {
  transform: translate(0px, 0px);
  box-shadow: 3px 3px 0 #0097a7;
}

.btn:active {
  transform: translate(3px, 3px);
  box-shadow: 0 0 0 #0097a7;
}

.btn:active {
  background-color: rgb(0, 234, 255) !important;
  color: black;
}

body {
  background-color: lemonchiffon;
}
